Importing Libraries

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

In [5]:
df = pd.read_csv(r'D:\M3_4_MiniProject_Test\WalmartSales_model\datasets\Walmart_sales.csv')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

Transformation

In [6]:
df['Date'] = pd.to_datetime(df['Date'],format="%d-%m-%Y") # convert the date column format
df['Quarter'] = df['Date'].dt.quarter # extract quarter from date column
df.drop('Date', axis=1, inplace=True) # drop date column

df.head()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Quarter
0,1,1643690.90,0,42.31,2.572,211.096358,8.106,1
1,1,1641957.44,1,38.51,2.548,211.242170,8.106,1
2,1,1611968.17,0,39.93,2.514,211.289143,8.106,1
3,1,1409727.59,0,46.63,2.561,211.319643,8.106,1
4,1,1554806.68,0,46.50,2.625,211.350143,8.106,1

In [26]:
def preprocess_dataframe(df):
    df['Date'] = pd.to_datetime(df['Date'], format="%d-%m-%Y")  # convert the date column format
    df['Quarter'] = df['Date'].dt.quarter  # extract quarter from date column
    df.drop('Date', axis=1, inplace=True)  # drop date column
    return df
# Example usage:
# Assuming df is your DataFrame
# df = preprocess_dataframe(df)

In [7]:
columns_to_scale = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment']
scaler = StandardScaler()
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df.head(5)

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Quarter
0,1,1643690.90,0,-0.995136,-1.713800,1.004175,0.056964,1
1,1,1641957.44,1,-1.201170,-1.766089,1.007880,0.056964,1
2,1,1611968.17,0,-1.124178,-1.840166,1.009074,0.056964,1
3,1,1409727.59,0,-0.760907,-1.737766,1.009849,0.056964,1
4,1,1554806.68,0,-0.767955,-1.598328,1.010624,0.056964,1

In [27]:
def scale_columns(df, columns_to_scale):
    scaler = StandardScaler()
    df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
    return df

# Example usage:
# Assuming df is your DataFrame and columns_to_scale is the list of columns you want to scale
# df = scale_columns(df, columns_to_scale)

In [13]:
df['Quarter'].value_counts()

Quarter
3    1800
2    1755
1    1485
4    1395
Name: count, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Weekly_Sales  6435 non-null   float64
 2   Holiday_Flag  6435 non-null   int64
 3   Temperature   6435 non-null   float64
 4   Fuel_Price    6435 non-null   float64
 5   CPI           6435 non-null   float64
 6   Unemployment  6435 non-null   float64
 7   Quarter       6435 non-null   int32
dtypes: float64(5), int32(1), int64(2)
memory usage: 377.2 KB

Modeling

In [8]:
x = df.drop('Weekly_Sales',axis=1)
x.head()

,Store,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Quarter
0,1,0,-0.995136,-1.713800,1.004175,0.056964,1
1,1,1,-1.201170,-1.766089,1.007880,0.056964,1
2,1,0,-1.124178,-1.840166,1.009074,0.056964,1
3,1,0,-0.760907,-1.737766,1.009849,0.056964,1
4,1,0,-0.767955,-1.598328,1.010624,0.056964,1

In [9]:
y = df['Weekly_Sales']
y.head()

0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
Name: Weekly_Sales, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5148, 7), (1287, 7), (5148,), (1287,))

In [21]:
linearmodel.score(X_test, y_test)

0.15401253347450727

In [23]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

mae = mean_absolute_error(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Error:", mae)

Mean Squared Error: 272538723964.11508
Root Mean Squared Error: 522052.41495860845
Mean Absolute Error: 432487.07515099214

In [24]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9321568662473834

In [28]:
def train_random_forest_regressor(df):
    x = df.drop('Weekly_Sales', axis=1)
    y = df['Weekly_Sales']
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    return model, X_train, X_test, y_train, y_test

# Example usage:
# Assuming df is your DataFrame
# model, X_train, X_test, y_train, y_test = train_random_forest_regressor(df)

In [25]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

mae = mean_absolute_error(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Error:", mae)

Mean Squared Error: 21855975217.462345
Root Mean Squared Error: 147837.66508391002
Mean Absolute Error: 75666.11099681426

In [2]:
y_test.shape

NameError: name 'y_test' is not defined